### glob-ing

**Pattern Matching**

Indicate match or not a match...

Law* : Law, La, Lawyer, aw ==> Answer: matches Law and Lawyer (* matches anything any number of times)

\*Law\* : Law, La, Lawyer, aw ==> Answer: matches Law and Lawyer (* matches anything any number of times)

?at : Bat, at, bat ==> Answer: matches Bat, at and bat (? matches any single character in that position in the name - including nothing)

[CB]at : Cat, cat, bat, Bat ==> Answer: matches Cat and Bat (starts with C or B and at)

Letter[0-9] : Letter0, Letters, Letter10, Letter0 ==> Answer: matches Letter0 (Letter and any one number)

[!C]at : Cat, cat, bat, Bat ==> Answer: matches cat, bat, and Bat (everything except Cat)

In [26]:
import glob

!ls

demo_profiling.ipynb  images   testing1  testing3  testing5
exam_practice.ipynb   testing  testing2  testing4  Topics.pdf

In [27]:
#!mkdir testing1
!touch testing1/aw
!touch testing1/La
!touch testing1/Law
!touch testing1/Lawyer

In [28]:
!ls testing

aw  La	Law  Lawyer

In [29]:
glob.glob('testing/Law*')

['testing/Lawyer', 'testing/Law']

In [30]:
glob.glob('testing/*Law*')

['testing/Lawyer', 'testing/Law']

In [31]:
#!mkdir testing2
!touch testing2/Bat
!touch testing2/at
!touch testing2/bat

!ls testing2

at  bat  Bat

In [32]:
glob.glob('testing2/?at')

['testing2/Bat', 'testing2/bat']

In [33]:
#!mkdir testing3
!touch testing3/Cat
!touch testing3/cat
!touch testing3/bat
!touch testing3/Bat
glob.glob('testing3/[CB]at')

['testing3/Bat', 'testing3/Cat']

In [34]:
#!mkdir testing4
!touch testing4/Letter0
!touch testing4/Letters
!touch testing4/Letter10
!touch testing4/Letter0
glob.glob('testing4/Letter[0-9]')

['testing4/Letter0']

In [35]:
#!mkdir testing5
!touch testing5/Cat
!touch testing5/cat
!touch testing5/bat
!touch testing5/Bat
glob.glob('testing5/[!C]at')

['testing5/Bat', 'testing5/cat', 'testing5/bat']

### regular expressions

**Pattern Matching**

For the following parts, select all the strings that fully match the regular expression:

(1) `re.findall(r"\..*", "VIXX-Error.mp3.bak")`

 - [] 
 - [’bak’] 
 - [’.bak’] 
 - [’.mp3’, ’.bak’]  
 - [’.mp3.bak’] 
 - [’VIXX-Error.mp3.bak’] 

(2) `re.findall(r"[cat|dog]", "bobcat")`

 - [] 
 - [’cat’] 
 - [’c’, ’a’, ’t’] 
 - [’o’, ’cat’] 
 - [’o’, ’c’, ’a’, ’t’] 
 - None of the above
 
(3) `re.findall(r"a?p*[le]$", "apple")`

 - []
 - [’e’] 
 - [’appl’] 
 - [’appe’] 
 - [’a’, ’pp’, ’l’, ’e’] 
 - None of the above
 
For the following parts, select all the strings that fully match the regular expression:

(1) `ab.*A`

A. abAbA

B. abA

C. ab.A

D. ab.

E. None of the above strings match.

(2) `ab.*?A`

A. abAbA

B. abA

C. ab.A

D. ab.

E. None of the above strings match

(3) `to(y)+(boat)*`

A. toy

B. toy(boat)

C. toyboat

D. toyyyyboatboat

E. None of the above.

In [47]:
import re
ls=['','bak','.bak','mp3','.mpc.bak','VIXX-Error.mp3.bak']
for x in ls: 
    print(re.findall(r"\..*", x))

[]
[]
['.bak']
[]
['.mpc.bak']
['.mp3.bak']

In [46]:
import re
ls=['','cat','c','a','t','cat']
for x in ls: 
    print(re.findall(r"[cat|dog]", x))

[]
['c', 'a', 't']
['c']
['a']
['t']
['c', 'a', 't']

In [54]:
ls=['e', 'appl','apple','appe']
for x in ls: 
    print(re.findall(r"a?p*[le]$", x))

['e']
['appl']
['e']
['appe']

### file formats

**Choosing between File Formats**

Which data formats would be well suited for nested data? Select all that apply.
 - *.csv
 - *.txt 
 - *.py
 - *.json 
 - *.tsv 
 - None of
the above.

**Diet**
Consider the following dataset

```
id,diet,pulse,time,kind
1,low fat,85,1 min,rest
1,low fat,85,15 min,rest
1,low fat,88,30 min,rest
2,low fat,90,1 min,rest
2,low fat,92,15 min,rest
2,low fat,93,30 min,rest
3,low fat,97,1 min,rest
3,low fat,97,15 min,rest
```
$1$ Which of the following best describes the format of this file?

 - Raw text
 - Tab Separated Values (TSV)
 - Comma Separated Values (CSV)
 - JSON

$2$ Select all the true statements.
 - From the data available, the id seems to be a primary key.
 - There appear to be no missing values.
 - There are nested records.

**JSON**

Use the following JSON file classes.json printed below:

```
1 [{
2 "Prof": "Smith",
3 "Classes": [ "DSGA1000",
4 {
5 "Name": "Digital Humanities",
6 "Year": [2017, 2018]
7 }],
8 "Tenured": false
9 },
10 {
11 "Prof": "Johnson",
12 "Classes": ["Stats133", "Stat153", "Stat198", "CS102"],
13 "Tenured": true
14 }]
```

$1$ Select all the true statements.

 - This JSON file is correctly formatted.
 - The Classes list defined on line 3 contains strings and dictionaries which is
not permitted.
 - The dates 2017 and 2018 on lines 6 should be quoted.
 - the dictionary keys (e.g., "Prof", "Classes") should not be quoted.
 - None of the above statements are true.

In [34]:
import json

s="""[{
"Prof": "Smith",
"Classes": [ "DSGA1000",
{
"Name": "Digital Humanities",
"Year": [2017, 2018]
}],
"Tenured": false
},
{
"Prof": "Johnson",
"Classes": ["Stats133", "Stat153", "Stat198", "CS102"],
"Tenured": true
}]
"""

data = json.loads(s)

In [16]:
# only strings can be keys: 

json.dumps({1:'one'})

'{"1": "one"}'

$2$ What would be the output of the following block of code:

```python
1 import json
2 with open("classes.json", "r") as f:
3      x = json.load(f)
4      len(x[0]["Classes"][0])
```
 - 1 
 - 2 
 - 4
 - 5 
 - None of the above.

In [ ]:
import json
with open("classes.json", "r") as f:
    x = json.load(f)
    len(x[0]["Classes"][0])

In [36]:
len(data[0]["Classes"][0])

8

### arrays

**Checking equality**

$1$ Consider two random array A and B
```python
A = np.random.randint(0,2,5)
B = np.random.randint(0,2,5)
```
Check if they are equal

In [2]:
import numpy as np
A = np.random.randint(0,2,5)
B = np.random.randint(0,2,5)

In [4]:
# dir(np)
# np.equal?
# dir(A)

np.equal(A,B)
A==B

array([ True, False,  True,  True,  True])

$2$ Consider the following array `Z` and number `v`

```python
Z = np.arange(100)
v = np.random.uniform(0,100)
```

How can we find the index of `Z` with entry closest to the number `v`?

In [9]:
np.random.seed(1)
Z = np.arange(100)
v = np.random.uniform(0,100)

In [10]:
print(np.abs(Z-v))
np.argmin(np.abs(Z-v))

[41.70220047 40.70220047 39.70220047 38.70220047 37.70220047 36.70220047
 35.70220047 34.70220047 33.70220047 32.70220047 31.70220047 30.70220047
 29.70220047 28.70220047 27.70220047 26.70220047 25.70220047 24.70220047
 23.70220047 22.70220047 21.70220047 20.70220047 19.70220047 18.70220047
 17.70220047 16.70220047 15.70220047 14.70220047 13.70220047 12.70220047
 11.70220047 10.70220047  9.70220047  8.70220047  7.70220047  6.70220047
  5.70220047  4.70220047  3.70220047  2.70220047  1.70220047  0.70220047
  0.29779953  1.29779953  2.29779953  3.29779953  4.29779953  5.29779953
  6.29779953  7.29779953  8.29779953  9.29779953 10.29779953 11.29779953
 12.29779953 13.29779953 14.29779953 15.29779953 16.29779953 17.29779953
 18.29779953 19.29779953 20.29779953 21.29779953 22.29779953 23.29779953
 24.29779953 25.29779953 26.29779953 27.29779953 28.29779953 29.29779953
 30.29779953 31.29779953 32.29779953 33.29779953 34.29779953 35.29779953
 36.29779953 37.29779953 38.29779953 39.29779953 40.29779953 41.29779953
 42.29779953 43.29779953 44.29779953 45.29779953 46.29779953 47.29779953
 48.29779953 49.29779953 50.29779953 51.29779953 52.29779953 53.29779953
 54.29779953 55.29779953 56.29779953 57.29779953]

42

### tables

**pandas**

$1$ If a pandas DataFrame `df` has 10 columns, then `df.iloc[:, 0:5]` will return
a DataFrame with 5 columns.

 - True 
 - False
 
$2$ Assuming that `len(df1) == 100` and `len(df2) == 100` are both true,
then `df1.merge(df2, how=’outer’)` produces at most 200 rows.

 - True
 - False
 
$3$ The return type of the `pandas.DataFrame.groupby` function (e.g. after calling apply) can either be
a DataFrame or a Series object.

 - True
 - False

In [33]:
import pandas as pd
df = pd.DataFrame(data = np.random.uniform(0,100, size=(10, 10)), columns = range(1,11))
df.iloc[:, 0:5].shape 
# True

(10, 5)

In [35]:
df1 = pd.DataFrame(data = np.random.uniform(0,1000, size=(100, 10)), columns = range(1,11))
df2 = pd.DataFrame(data = np.random.uniform(1001,2001, size=(100, 10)), columns = range(1,11))
df1.merge(df2, how='outer')
# True

,1,2,3,4,5,6,7,8,9,10
0,171.829760,11.259893,887.683130,35.231271,257.458284,651.684032,285.782933,9.707597,575.451834,307.792278
1,151.514062,971.283312,164.972268,727.235441,890.724191,858.715116,184.257067,236.808534,18.362637,931.405467
2,887.121177,595.466169,109.367656,173.542647,576.960371,251.656974,300.171833,170.987349,189.591719,463.421154
3,509.873973,511.579890,997.138799,129.595817,756.169888,793.756747,584.882599,462.738180,893.426637,828.180219
4,50.290936,962.983753,7.339892,573.132205,572.430817,834.379665,384.716068,91.040869,581.687269,24.845860
...,...,...,...,...,...,...,...,...,...,...
195,1207.511950,1801.152880,1796.308063,1800.090960,1317.802654,1613.951521,1653.290982,1121.225004,1919.675290,1369.135774
196,1689.376724,1929.338379,1675.872163,1939.477413,1700.107657,1171.857895,1729.905509,1406.720147,1319.573293,1781.646271
197,1791.489135,1950.011766,1204.185295,1533.664331,1773.122459,1517.348869,1229.786454,1996.290291,1890.319844,1578.143337
198,1539.047807,1840.976118,1915.633981,1820.585356,1433.809776,1856.623131,1226.605332,1541.516067,1316.150289,1120.634496
199,1146.511953,1937.604818,1195.992428,1650.910129,1240.121158,1526.469573,1131.634204,1290.540346,1401.524530,1707.678774

In [8]:
import pandas as pd

dogs = pd.DataFrame([
{"id": 123, "age": 4, "color": "brown", "fur": "shaggy",
"name": "odie"},
{"id": 456, "age": 3, "color": "grey", "fur": "short",
"name": "gabe"},
{"id": 821, "age": 6, "color": "golden", "fur": "curly",
"name": "samosa"},
{"id": 198, "age": 4, "color": "grey", "fur": "shaggy",
"name": "gabe"},
{"id": 3, "age": 2, "color": "black", "fur": "curly",
"name": "bob barker"},
{"id": 42, "age": 5, "color": "brown", "fur": "shaggy",
"name": "odie"}
]).set_index('id')

dogs.groupby()

        0                                                  1
0   curly       age   color    fur        name
id        ...
1  shaggy       age  color     fur  name
id              ...
2   short       age color    fur  name
id                ...

**Food**

Consider the following table about food. This is preview of the first 5 rows of the DataFrames. You may assume it has many more rows
than what is shown, with the same structure and no missing data.

In [ ]:
Image('images/food.PNG')

$1$ Which of the following expressions returns a Series containing only the names
of all the red vegetables in the food DataFrame? Select all that apply.
 - `food[(food["color"] == "red") | (food["food_group"] == "vegetable")]["name"]`
 - `food[(food["color"] == "red") & (food["food_group"] == "vegetable")]["name"]`
 - `food[(food["color"] == "red") & (food["food_group"] == "vegetable")]`
 - `food[(food["name"].isin(store["food_name"])) & (food["food_group"] == "vegetable")]`
 - None of the above.

$2$ Select all of the following expressions that generate a DataFrame containing only
rows of fruit.
 
 - `food.set_index("food_group").loc["fruit", :]`
 - `food.where(food["food_group"] == "fruit")`
 - `food[food["food_group"] == "fruit"]`
 - `food["food_group"] == "fruit"`
 - None of the above.

$3$ Which of the following expressions would generate the following table?

 - `(food.groupby(["food_group", "color"])[["calories"]].median())`
 - `pd.pivot_table(food, values="calories", index="food_group", columns="color", aggfunc=np.median`
 - `(food.set_index("food_group").groupby("color")[["calories"]].mean())`
 - `pd.pivot_table(food, values="calories", index="color", columns="food_group", aggfunc=np.median)`

In [ ]:
Image('images/food2.PNG')

**Dogs**

Consider the follow table containing information about visits to veterinarian's clinic.

In [ ]:
dogs = pd.DataFrame([
{"id": 123, "age": 4, "color": "brown", "fur": "shaggy",
"name": "odie"},
{"id": 456, "age": 3, "color": "grey", "fur": "short",
"name": "gabe"},
{"id": 821, "age": 6, "color": "golden", "fur": "curly",
"name": "samosa"},
{"id": 198, "age": 4, "color": "grey", "fur": "shaggy",
"name": "gabe"},
{"id": 3, "age": 2, "color": "black", "fur": "curly",
"name": "bob barker"},
{"id": 42, "age": 5, "color": "brown", "fur": "shaggy",
"name": "odie"}
]).set_index('id')
dogs

$1$. How many different dogs visited the veterinarian’s office? Provide code that outputs the
answers as an integer. Assume that no two dogs have the same name.

A. `dogs["name"].unique().size`

B. `len(dogs["name"])` => this one

C. `len(dogs)`

$2$. What was the name of the oldest dog that visited the veterinarian’s office?

A. dogs[’age’].max()

B. dogs.loc[dogs[’age’].max()][’name’]

C. dogs.loc[dogs[’age’].argmax()][’name’] => this one

D. dogs.groupby("name").agg({"age": "max"})

$3$. What was the most common fur color among dogs?

A. dogs.groupby("color").count().sort_values("name",
ascending=False).index[0]

B. dogs.groupby("color").count().sort_values("age",
ascending=False).index[0]

C. dogs.groupby("color").count().sort_values("fur",
ascending=False).index[0]

D. All of the above. ==> ALL

E. None of the above.

$4$. What proportion of dogs had the most common fur type? (For instance, if the most
common fur type was curly, what proportion of dogs had curly fur?)

A. (dogs[’fur’].value_counts() / dogs.size)

B. (dogs[’fur’].value_counts() / dogs.size).max() ==> this one

C. (dogs[’fur’].value_counts() / dogs.size).argmax()

D. None of the above.

$5$ Construct a DataFrame containing the
number of dogs with a given color and fur. Write the solution on the following line. You should require a single function call using a
function provided on the cheat sheet.

In [ ]:
Image('images/dogs.PNG')