
# Demo 14: Working with Dates and Times

In [1]:
from datetime import datetime
from datetime import timedelta

import numpy as np
import pandas as pd

from pandas.tseries.offsets import Day, BMonthEnd, MonthEnd

import pytz

## 1. Date and Time Data Types

date: Store calendar date (year, month, day) using the Gregorian calendar.

In [2]:
now = datetime.now()
print(now.year, now.month, now.day)
#now

2019 12 5

time: Store time of day as hours, minutes, seconds, and microseconds  
datetime: Stores both date and time

In [3]:
delta = datetime(2011, 1, 7) - datetime(2008, 6, 24, 8, 15)
print(delta)

926 days, 15:45:00

timedelta: Represents the difference between two datetime values (as days, seconds, and microseconds)

In [4]:
print(delta.days)
print (delta.seconds)

926
56700

In [5]:
start = datetime(2011, 1, 7)
start + timedelta(4)

datetime.datetime(2011, 1, 11, 0, 0)

In [6]:
start - 2*timedelta(12)

datetime.datetime(2010, 12, 14, 0, 0)

### 1.1 Coverting between string and datetime

#### Formats

%Y 4-digit year   
%y 2-digit year  
%m 2-digit month [01, 12]  
%d 2-digit day [01, 31]  
%H Hour (24-hour clock) [00, 23]  
%I Hour (12-hour clock) [01, 12]  
%M 2-digit minute [00, 59]  
%S Second [00, 61] (seconds 60, 61 account for leap seconds)  
%w Weekday as integer [0 (Sunday), 6]  
%U Week number of the year [00, 53]. Sunday is considered the first day of the week, and days before the first
Sunday of the year are “week 0”.  
%W Week number of the year [00, 53]. Monday is considered the first day of the week, and days before the first
Monday of the year are “week 0”.  
%z UTC time zone offset as +HHMM or -HHMM, empty if time zone naive  
%F Shortcut for %Y-%m-%d, for example 2012-4-18  
%D Shortcut for %m/%d/%y, for example 04/18/12

In [7]:
stamp = datetime(2011, 1, 3)
str(stamp)

'2011-01-03 00:00:00'

In [8]:
stamp.strftime('%Y-%m-%d')

'2011-01-03'

In [9]:
value = '201101/03'
datetime.strptime(value, '%Y%m/%d')

datetime.datetime(2011, 1, 3, 0, 0)

pandas has its own datatime format

In [10]:
datestrs = ['7/6/2011', '8/6/2011']
pd.to_datetime(datestrs)

DatetimeIndex(['2011-07-06', '2011-08-06'], dtype='datetime64[ns]', freq=None)

In [11]:
idx = pd.to_datetime(datestrs + [None])
idx

DatetimeIndex(['2011-07-06', '2011-08-06', 'NaT'], dtype='datetime64[ns]', freq=None)

In [12]:
pd.isnull(idx)

array([False, False,  True])

### 1.2 Using datetime with pandas

In [14]:
dates = [datetime(2011, 1, 2), datetime(2011, 1, 5), datetime(2011, 1, 7),
         datetime(2011, 1, 8), datetime(2011, 1, 10), datetime(2011, 1, 12)]

ts = pd.Series(np.random.randn(6), index=dates)
ts

2011-01-02    0.384372
2011-01-05    0.764673
2011-01-07   -0.084289
2011-01-08   -0.089217
2011-01-10    1.536669
2011-01-12    0.204047
dtype: float64

In [15]:
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [16]:
stamp = ts.index[0]
stamp

Timestamp('2011-01-02 00:00:00')

In [18]:
df = pd.DataFrame(np.random.randn(6, 4),
                    index=dates,
                    columns=['Colorado', 'Texas', 'New York', 'Ohio'])

df

            Colorado     Texas  New York      Ohio
2011-01-02 -0.116936  0.081862 -1.355884  1.306706
2011-01-05 -1.017193  0.325892 -0.705154 -0.593526
2011-01-07  0.428483  0.126074  0.461737  0.478609
2011-01-08 -0.232729  1.724146  0.749190 -0.397559
2011-01-10 -1.832262 -0.461714 -0.943261 -0.659856
2011-01-12 -0.224386  0.274896 -0.618991 -1.312241

## 2. Date Range, Frequencies, and Shifting

### 2.1 Generating Date Ranges

Frequency

In [19]:
index = pd.date_range('4/1/2012', '6/1/2012')
index

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
               '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
               '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
               '2012-04-29', '2012-04-30', '2012-05-01', '2012-05-02',
               '2012-05-03', '2012-05-04', '2012-05-05', '2012-05-06',
               '2012-05-07', '2012-05-08', '2012-05-09', '2012-05-10',
               '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
               '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
               '2012-05-19', '2012-05-20', '2012-05-21', '2012-05-22',
               '2012-05-23', '2012-05-24', '2012-05-25', '2012-05-26',
               '2012-05-27', '2012-05-28', '2012-05-29', '2012-05-30',
               '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [20]:
pd.date_range('1/1/2000', '12/31/2000', freq='BM') #business day end of month

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-28',
               '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31',
               '2000-09-29', '2000-10-31', '2000-11-30', '2000-12-29'],
              dtype='datetime64[ns]', freq='BM')

Periods

In [21]:
pd.date_range(start='4/1/2012', periods=20)

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20'],
              dtype='datetime64[ns]', freq='D')

In [22]:
pd.date_range(end='6/1/2012', periods=20)

DatetimeIndex(['2012-05-13', '2012-05-14', '2012-05-15', '2012-05-16',
               '2012-05-17', '2012-05-18', '2012-05-19', '2012-05-20',
               '2012-05-21', '2012-05-22', '2012-05-23', '2012-05-24',
               '2012-05-25', '2012-05-26', '2012-05-27', '2012-05-28',
               '2012-05-29', '2012-05-30', '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

### 2.2 Indexing, Selection, Subsetting

In [23]:
longer_ts = pd.Series(np.random.randn(1000),
                   index=pd.date_range('1/1/2000', periods=1000))
longer_ts.head()

2000-01-01   -0.842574
2000-01-02    0.460720
2000-01-03    0.834928
2000-01-04   -0.679092
2000-01-05   -0.552889
Freq: D, dtype: float64

In [24]:
longer_ts['2000-01-10']

-0.6432927293666421

In [25]:
longer_ts[datetime(2000, 1, 7)]

-0.4890215170004088

In [26]:
longer_ts['2001']

2001-01-01    0.049428
2001-01-02   -0.054624
2001-01-03   -0.239673
2001-01-04    0.547429
2001-01-05   -0.112112
                ...
2001-12-27    0.947057
2001-12-28   -0.229803
2001-12-29    0.068239
2001-12-30    1.918297
2001-12-31   -0.094795
Freq: D, Length: 365, dtype: float64

In [27]:
longer_ts['2001-05']

2001-05-01    0.197369
2001-05-02    0.068201
2001-05-03    0.210170
2001-05-04   -1.696886
2001-05-05    0.895461
2001-05-06    1.222286
2001-05-07    0.722719
2001-05-08    1.108912
2001-05-09   -0.817239
2001-05-10    0.357750
2001-05-11   -0.162622
2001-05-12   -0.362510
2001-05-13    0.468995
2001-05-14    0.524228
2001-05-15    0.055450
2001-05-16   -0.732381
2001-05-17    0.975189
2001-05-18   -0.306056
2001-05-19    0.370907
2001-05-20    0.816356
2001-05-21    0.029293
2001-05-22    0.855774
2001-05-23    0.116741
2001-05-24    1.714988
2001-05-25    0.145229
2001-05-26    1.640794
2001-05-27   -0.764096
2001-05-28   -0.233664
2001-05-29    0.566466
2001-05-30    1.208354
2001-05-31    0.514670
Freq: D, dtype: float64

In [28]:
ts[datetime(2011, 1, 7):]

2011-01-07   -0.084289
2011-01-08   -0.089217
2011-01-10    1.536669
2011-01-12    0.204047
dtype: float64

In [29]:
ts['1/6/2011':'1/10/2011']

2011-01-07   -0.084289
2011-01-08   -0.089217
2011-01-10    1.536669
dtype: float64

In [30]:
ts.truncate(after='1/9/2011')

2011-01-02    0.384372
2011-01-05    0.764673
2011-01-07   -0.084289
2011-01-08   -0.089217
dtype: float64

### 2.3 Shifting (Leading and Lagging) Data

In [62]:
ts = Series(np.random.randn(4),
            index=pd.date_range('1/1/2000', periods=4, freq='BM'))
ts

2000-01-31   -0.105641
2000-02-29    0.650020
2000-03-31   -1.446932
2000-04-28   -0.263075
Freq: BM, dtype: float64

In [31]:
ts.shift(2)

2011-01-02         NaN
2011-01-05         NaN
2011-01-07    0.384372
2011-01-08    0.764673
2011-01-10   -0.084289
2011-01-12   -0.089217
dtype: float64

In [32]:
ts.shift(-2)

2011-01-02   -0.084289
2011-01-05   -0.089217
2011-01-07    1.536669
2011-01-08    0.204047
2011-01-10         NaN
2011-01-12         NaN
dtype: float64

In [33]:

now = datetime(2011, 11, 17)
now + 3*Day()

Timestamp('2011-11-20 00:00:00')

## 3. Time Zone

In [34]:
# pytz.common_timezones[-5:]
tz = pytz.timezone('US/Eastern')
tz

In [36]:
rng = pd.date_range('3/9/2012 9:30', periods=6, freq='D')
ts = pd.Series(np.random.randn(len(rng)), index=rng)
print(ts.index.tz)
ts

None

2012-03-09 09:30:00   -0.308327
2012-03-10 09:30:00    2.449835
2012-03-11 09:30:00   -0.521481
2012-03-12 09:30:00    0.564762
2012-03-13 09:30:00   -0.071478
2012-03-14 09:30:00   -1.050761
Freq: D, dtype: float64

In [37]:
pd.date_range('3/9/2012 9:30', periods=10, freq='D', tz='UTC')

DatetimeIndex(['2012-03-09 09:30:00+00:00', '2012-03-10 09:30:00+00:00',
               '2012-03-11 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00',
               '2012-03-15 09:30:00+00:00', '2012-03-16 09:30:00+00:00',
               '2012-03-17 09:30:00+00:00', '2012-03-18 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

In [38]:
ts_utc = ts.tz_localize('UTC')
ts_utc

2012-03-09 09:30:00+00:00   -0.308327
2012-03-10 09:30:00+00:00    2.449835
2012-03-11 09:30:00+00:00   -0.521481
2012-03-12 09:30:00+00:00    0.564762
2012-03-13 09:30:00+00:00   -0.071478
2012-03-14 09:30:00+00:00   -1.050761
Freq: D, dtype: float64

In [39]:
ts_utc.tz_convert('US/Eastern')

2012-03-09 04:30:00-05:00   -0.308327
2012-03-10 04:30:00-05:00    2.449835
2012-03-11 05:30:00-04:00   -0.521481
2012-03-12 05:30:00-04:00    0.564762
2012-03-13 05:30:00-04:00   -0.071478
2012-03-14 05:30:00-04:00   -1.050761
Freq: D, dtype: float64

## 4. Resampling and Frequency Conversion

Resampling refers to the process of converting a time series from one frequency to another. Aggregating higher frequency data to lower frequency is called downsampling, while converting lower frequency to higher frequency is called upsampling.

In [41]:
rng = pd.date_range('1/1/2000', periods=100, freq='D')
ts = pd.Series(np.random.randn(len(rng)), index=rng)
ts.resample('M').mean()

2000-01-31    0.129855
2000-02-29   -0.474854
2000-03-31    0.239060
2000-04-30   -0.006749
Freq: M, dtype: float64

Using grouping operations

In [43]:
rng = pd.date_range('1/1/2000', periods=100, freq='D')
ts = pd.Series(np.arange(100), index=rng)
ts.groupby(lambda x: x.month).mean()

1    15
2    45
3    75
4    95
dtype: int64

In [44]:
ts.groupby(lambda x: x.weekday).mean()

0    47.5
1    48.5
2    49.5
3    50.5
4    51.5
5    49.0
6    50.0
dtype: float64

### 4.1 Downsampling

In [47]:
rng = pd.date_range('1/1/2000', periods=12, freq='T')
ts = pd.Series(np.arange(12), index=rng)
ts

2000-01-01 00:00:00     0
2000-01-01 00:01:00     1
2000-01-01 00:02:00     2
2000-01-01 00:03:00     3
2000-01-01 00:04:00     4
2000-01-01 00:05:00     5
2000-01-01 00:06:00     6
2000-01-01 00:07:00     7
2000-01-01 00:08:00     8
2000-01-01 00:09:00     9
2000-01-01 00:10:00    10
2000-01-01 00:11:00    11
Freq: T, dtype: int64

In [48]:
ts.resample('5min').sum()

2000-01-01 00:00:00    10
2000-01-01 00:05:00    35
2000-01-01 00:10:00    21
Freq: 5T, dtype: int64

In [49]:
ts.resample('5min', closed='right').sum() #by default closed = 'left'

1999-12-31 23:55:00     0
2000-01-01 00:00:00    15
2000-01-01 00:05:00    40
2000-01-01 00:10:00    11
Freq: 5T, dtype: int64

In [50]:
ts.resample('5min',  closed='left', label='right').sum()

2000-01-01 00:05:00    10
2000-01-01 00:10:00    35
2000-01-01 00:15:00    21
Freq: 5T, dtype: int64

### 4.2 Upsampling and Interpolation

In [51]:
frame = pd.DataFrame(np.random.randn(2, 4),
                  index=pd.date_range('1/1/2000', periods=2, freq='W-WED'),
                  columns=['Colorado', 'Texas', 'New York', 'Ohio'])
frame[:5]

            Colorado     Texas  New York      Ohio
2000-01-05 -0.682736  0.260128 -0.507466  1.474143
2000-01-12 -0.672648  0.038918 -0.822932 -1.059984

In [52]:
frame.resample('D').bfill()

            Colorado     Texas  New York      Ohio
2000-01-05 -0.682736  0.260128 -0.507466  1.474143
2000-01-06 -0.672648  0.038918 -0.822932 -1.059984
2000-01-07 -0.672648  0.038918 -0.822932 -1.059984
2000-01-08 -0.672648  0.038918 -0.822932 -1.059984
2000-01-09 -0.672648  0.038918 -0.822932 -1.059984
2000-01-10 -0.672648  0.038918 -0.822932 -1.059984
2000-01-11 -0.672648  0.038918 -0.822932 -1.059984
2000-01-12 -0.672648  0.038918 -0.822932 -1.059984

In [95]:
frame.resample('D').ffill(limit=2)

            Colorado     Texas  New York      Ohio
2000-01-05  0.394912  0.520074  0.695578 -1.529450
2000-01-06  0.394912  0.520074  0.695578 -1.529450
2000-01-07  0.394912  0.520074  0.695578 -1.529450
2000-01-08       NaN       NaN       NaN       NaN
2000-01-09       NaN       NaN       NaN       NaN
2000-01-10       NaN       NaN       NaN       NaN
2000-01-11       NaN       NaN       NaN       NaN
2000-01-12  0.999795 -0.914894 -0.912327 -0.768226

## Question

Use ```pandas.read_csv``` to load the file ```raw_data.csv``` into a ```pandas.DataFrame``` called ```df_raw```:

In [76]:
df = pd.read_csv('raw_data.csv')

In [77]:
df.head(3)

     Volume       Price       times_of_trade
0  29184000  222.149994  16-10-2018 13:00:00
1  40925500  215.089996  24-10-2018 22:00:00
2  53124400  214.449997  11-10-2018 16:00:00

Note that the entries of the column ```times_of_trade``` are strings representing date-times in the form ```dd-mm-yyyy hh:mm:ss```. Here the timezone is ```UTC```.

Generate another ```pd.DataFrame``` called ```df``` from ```df_raw``` through the following operations:

 - Replace ```times_of_trade``` with ```Time```
 - Transform each entry in ```Time``` to the format ```mm-dd-yyyy hh:mm:ss```
 - Use ```pd.to_datetime``` to convert each string in ```Time``` to a date-time
 - Apply ```sort_values``` to sort by the entries in ```Time```
 - Specify that the timezone is ```UTC``` using ```tz_localize```. Change the timezone to ```US/Eastern``` using ```tz_convert```.
 - Invoke ```set_index``` to set the index to be ```Time```

In [79]:
df.rename(columns={"times_of_trade": "Time"}, inplace=True)
df['Time'] = df['Time'].map(lambda x: pd.to_datetime(x, dayfirst=True)) # map looks one at a time

In [80]:
df['Time'] = df['Time'].map(lambda x: x.tz_localize('UTC'))
df['Time'] = df['Time'].map(lambda x: x.tz_convert('US/Eastern'))
df.set_index('Time')

                             Volume       Price
Time
2018-10-16 09:00:00-04:00  29184000  222.149994
2018-10-24 18:00:00-04:00  40925500  215.089996
2018-10-11 12:00:00-04:00  53124400  214.449997
2018-10-03 15:00:00-04:00  28654800  232.070007
2018-10-23 15:00:00-04:00  38767800  222.729996
2018-10-30 18:00:00-04:00  36660000  213.300003
2018-10-02 06:00:00-04:00  24788200  229.279999
2018-10-25 08:00:00-04:00  29855800  219.800003
2018-10-10 19:00:00-04:00  41990600  216.360001
2018-10-17 13:00:00-04:00  22885400  221.190002
2018-10-05 18:00:00-04:00  33580500  224.289993
2018-10-09 16:00:00-04:00  26891000  226.869995
2018-10-31 06:00:00-04:00  38358900  218.860001
2018-10-29 18:00:00-04:00  45935500  212.240005
2018-10-26 09:00:00-04:00  47258400  216.300003
2018-10-08 11:00:00-04:00  29663900  223.770004
2018-10-12 09:00:00-04:00  40337900  222.110001
2018-11-01 13:00:00-04:00  56810000  222.220001
2018-10-19 11:00:00-04:00  33078700  219.309998
2018-10-18 10:00:00-04:00  32581300  216.020004
2018-10-04 17:00:00-04:00  32042000  227.990005
2018-10-15 10:00:00-04:00  30791000  217.360001
2018-10-22 07:00:00-04:00  28792100  220.649994

In [81]:
df.head(3)

     Volume       Price                      Time
0  29184000  222.149994 2018-10-16 09:00:00-04:00
1  40925500  215.089996 2018-10-24 18:00:00-04:00
2  53124400  214.449997 2018-10-11 12:00:00-04:00