
# Demo 14: Working with Dates and Times

In [1]:
from datetime import datetime
from datetime import timedelta

import numpy as np
import pandas as pd

from pandas.tseries.offsets import Day, BMonthEnd, MonthEnd

import pytz

## 1. Date and Time Data Types

date: Store calendar date (year, month, day) using the Gregorian calendar.

In [2]:
now = datetime.now()
print(now.year, now.month, now.day)
#now

2019 12 5

time: Store time of day as hours, minutes, seconds, and microseconds  
datetime: Stores both date and time

In [3]:
delta = datetime(2011, 1, 7) - datetime(2008, 6, 24, 8, 15)
print(delta)

926 days, 15:45:00

timedelta: Represents the difference between two datetime values (as days, seconds, and microseconds)

In [4]:
print(delta.days)
print (delta.seconds)

926
56700

In [5]:
start = datetime(2011, 1, 7)
start + timedelta(4)

datetime.datetime(2011, 1, 11, 0, 0)

In [6]:
start - 2*timedelta(12)

datetime.datetime(2010, 12, 14, 0, 0)

### 1.1 Coverting between string and datetime

#### Formats

%Y 4-digit year   
%y 2-digit year  
%m 2-digit month [01, 12]  
%d 2-digit day [01, 31]  
%H Hour (24-hour clock) [00, 23]  
%I Hour (12-hour clock) [01, 12]  
%M 2-digit minute [00, 59]  
%S Second [00, 61] (seconds 60, 61 account for leap seconds)  
%w Weekday as integer [0 (Sunday), 6]  
%U Week number of the year [00, 53]. Sunday is considered the first day of the week, and days before the first
Sunday of the year are “week 0”.  
%W Week number of the year [00, 53]. Monday is considered the first day of the week, and days before the first
Monday of the year are “week 0”.  
%z UTC time zone offset as +HHMM or -HHMM, empty if time zone naive  
%F Shortcut for %Y-%m-%d, for example 2012-4-18  
%D Shortcut for %m/%d/%y, for example 04/18/12

In [7]:
stamp = datetime(2011, 1, 3)
str(stamp)

'2011-01-03 00:00:00'

In [8]:
stamp.strftime('%Y-%m-%d')

'2011-01-03'

In [9]:
value = '201101/03'
datetime.strptime(value, '%Y%m/%d')

datetime.datetime(2011, 1, 3, 0, 0)

pandas has its own datatime format

In [10]:
datestrs = ['7/6/2011', '8/6/2011']
pd.to_datetime(datestrs)

DatetimeIndex(['2011-07-06', '2011-08-06'], dtype='datetime64[ns]', freq=None)

In [11]:
idx = pd.to_datetime(datestrs + [None])
idx

DatetimeIndex(['2011-07-06', '2011-08-06', 'NaT'], dtype='datetime64[ns]', freq=None)

In [12]:
pd.isnull(idx)

array([False, False,  True])

### 1.2 Using datetime with pandas

In [14]:
dates = [datetime(2011, 1, 2), datetime(2011, 1, 5), datetime(2011, 1, 7),
         datetime(2011, 1, 8), datetime(2011, 1, 10), datetime(2011, 1, 12)]

ts = pd.Series(np.random.randn(6), index=dates)
ts

2011-01-02    0.384372
2011-01-05    0.764673
2011-01-07   -0.084289
2011-01-08   -0.089217
2011-01-10    1.536669
2011-01-12    0.204047
dtype: float64

In [72]:
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [73]:
stamp = ts.index[0]
stamp

Timestamp('2011-01-02 00:00:00')

In [77]:
df = DataFrame(np.random.randn(6, 4),
                    index=dates,
                    columns=['Colorado', 'Texas', 'New York', 'Ohio'])

df

            Colorado     Texas  New York      Ohio
2011-01-02 -0.839061 -0.392971 -0.797289 -0.696691
2011-01-05  0.108509  0.485753  0.763078  0.608784
2011-01-07  1.476307 -2.773430 -0.720538 -1.271087
2011-01-08  0.103819  0.466977 -2.548244 -1.184808
2011-01-10 -2.294484  0.169025 -0.122528 -0.945251
2011-01-12 -0.110772 -1.233507 -1.092688 -1.587046

## 2. Date Range, Frequencies, and Shifting

### 2.1 Generating Date Ranges

Frequency

In [53]:
index = pd.date_range('4/1/2012', '6/1/2012')
index

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
               '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
               '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
               '2012-04-29', '2012-04-30', '2012-05-01', '2012-05-02',
               '2012-05-03', '2012-05-04', '2012-05-05', '2012-05-06',
               '2012-05-07', '2012-05-08', '2012-05-09', '2012-05-10',
               '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
               '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
               '2012-05-19', '2012-05-20', '2012-05-21', '2012-05-22',
               '2012-05-23', '2012-05-24', '2012-05-25', '2012-05-26',
               '2012-05-27', '2012-05-28', '2012-05-29', '2012-05-30',
               '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [56]:
pd.date_range('1/1/2000', '12/31/2000', freq='BM') #business day end of month

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-28',
               '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31',
               '2000-09-29', '2000-10-31', '2000-11-30', '2000-12-29'],
              dtype='datetime64[ns]', freq='BM')

Periods

In [54]:
pd.date_range(start='4/1/2012', periods=20)

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20'],
              dtype='datetime64[ns]', freq='D')

In [55]:
pd.date_range(end='6/1/2012', periods=20)

DatetimeIndex(['2012-05-13', '2012-05-14', '2012-05-15', '2012-05-16',
               '2012-05-17', '2012-05-18', '2012-05-19', '2012-05-20',
               '2012-05-21', '2012-05-22', '2012-05-23', '2012-05-24',
               '2012-05-25', '2012-05-26', '2012-05-27', '2012-05-28',
               '2012-05-29', '2012-05-30', '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

### 2.2 Indexing, Selection, Subsetting

In [40]:
longer_ts = Series(np.random.randn(1000),
                   index=pd.date_range('1/1/2000', periods=1000))
longer_ts.head()

2000-01-01   -0.968769
2000-01-02    0.269880
2000-01-03   -1.198332
2000-01-04    1.597638
2000-01-05   -3.265285
Freq: D, dtype: float64

In [61]:
longer_ts['2000-01-10']

-0.7752683527678436

In [69]:
longer_ts[datetime(2000, 1, 7)]

2.207722789518763

In [41]:
longer_ts['2001']

2001-01-01   -0.898894
2001-01-02    0.514050
2001-01-03    1.692306
2001-01-04   -0.104390
2001-01-05    0.146725
2001-01-06   -1.679340
2001-01-07   -0.879684
2001-01-08   -0.938379
2001-01-09   -0.838594
2001-01-10   -0.073782
2001-01-11   -0.334568
2001-01-12    1.333601
2001-01-13    0.434797
2001-01-14   -0.264583
2001-01-15   -0.123891
2001-01-16   -0.570762
2001-01-17   -0.843138
2001-01-18   -2.846592
2001-01-19   -0.363536
2001-01-20   -0.914582
2001-01-21   -2.529464
2001-01-22   -1.477956
2001-01-23    0.215434
2001-01-24   -0.719165
2001-01-25   -0.268193
2001-01-26   -1.969787
2001-01-27   -1.166494
2001-01-28   -0.580322
2001-01-29   -0.706265
2001-01-30   -0.521624
                ...
2001-12-02   -0.909563
2001-12-03    0.969452
2001-12-04    1.572024
2001-12-05    0.172860
2001-12-06    2.062075
2001-12-07    0.953116
2001-12-08   -0.725611
2001-12-09    0.977777
2001-12-10   -0.129884
2001-12-11   -0.266660
2001-12-12    1.727818
2001-12-13   -2.259184
2001-12-14   -1.408560
2001-12-15    0.417556
2001-12-16   -2.238170
2001-12-17    0.311345
2001-12-18    1.002876
2001-12-19   -0.483591
2001-12-20    0.008759
2001-12-21    2.228491
2001-12-22    0.241190
2001-12-23    0.443901
2001-12-24   -0.951859
2001-12-25   -1.458177
2001-12-26    0.041163
2001-12-27   -0.214748
2001-12-28   -0.161303
2001-12-29   -1.474195
2001-12-30    0.633151
2001-12-31    1.029840
Freq: D, Length: 365, dtype: float64

In [42]:
longer_ts['2001-05']

2001-05-01    0.000660
2001-05-02   -0.736717
2001-05-03   -1.282112
2001-05-04   -1.261288
2001-05-05   -0.306072
2001-05-06   -0.785598
2001-05-07   -1.401268
2001-05-08    0.518233
2001-05-09   -0.125116
2001-05-10    0.332040
2001-05-11   -0.282557
2001-05-12    0.718786
2001-05-13    0.421644
2001-05-14    0.855303
2001-05-15    0.034636
2001-05-16   -1.032634
2001-05-17   -0.490084
2001-05-18   -0.758207
2001-05-19   -0.145630
2001-05-20   -1.449582
2001-05-21    0.162535
2001-05-22   -1.943215
2001-05-23    1.616040
2001-05-24   -2.234909
2001-05-25   -0.500242
2001-05-26   -0.425475
2001-05-27    0.158439
2001-05-28    1.094864
2001-05-29   -2.022132
2001-05-30    0.253739
2001-05-31   -1.432721
Freq: D, dtype: float64

In [43]:
ts[datetime(2011, 1, 7):]

2011-01-07   -0.747350
2011-01-08    0.871789
2011-01-10    0.648983
2011-01-12   -0.978597
dtype: float64

In [44]:
ts['1/6/2011':'1/10/2011']

2011-01-07   -0.747350
2011-01-08    0.871789
2011-01-10    0.648983
dtype: float64

In [45]:
ts.truncate(after='1/9/2011')

2011-01-02   -1.343482
2011-01-05   -0.178984
2011-01-07   -0.747350
2011-01-08    0.871789
dtype: float64

### 2.3 Shifting (Leading and Lagging) Data

In [62]:
ts = Series(np.random.randn(4),
            index=pd.date_range('1/1/2000', periods=4, freq='BM'))
ts

2000-01-31   -0.105641
2000-02-29    0.650020
2000-03-31   -1.446932
2000-04-28   -0.263075
Freq: BM, dtype: float64

In [65]:
ts.shift(2)

2000-01-31         NaN
2000-02-29         NaN
2000-03-31   -0.105641
2000-04-28    0.650020
Freq: BM, dtype: float64

In [66]:
ts.shift(-2)

2000-01-31   -1.446932
2000-02-29   -0.263075
2000-03-31         NaN
2000-04-28         NaN
Freq: BM, dtype: float64

In [67]:

now = datetime(2011, 11, 17)
now + 3*Day()

Timestamp('2011-11-20 00:00:00')

## 3. Time Zone

In [79]:
# pytz.common_timezones[-5:]
tz = pytz.timezone('US/Eastern')
tz

In [80]:
rng = pd.date_range('3/9/2012 9:30', periods=6, freq='D')
ts = Series(np.random.randn(len(rng)), index=rng)
print(ts.index.tz)
ts

None

2012-03-09 09:30:00   -1.125184
2012-03-10 09:30:00    0.334478
2012-03-11 09:30:00    0.361778
2012-03-12 09:30:00    1.285238
2012-03-13 09:30:00   -0.705187
2012-03-14 09:30:00   -0.982227
Freq: D, dtype: float64

In [81]:
pd.date_range('3/9/2012 9:30', periods=10, freq='D', tz='UTC')

DatetimeIndex(['2012-03-09 09:30:00+00:00', '2012-03-10 09:30:00+00:00',
               '2012-03-11 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00',
               '2012-03-15 09:30:00+00:00', '2012-03-16 09:30:00+00:00',
               '2012-03-17 09:30:00+00:00', '2012-03-18 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

In [82]:
ts_utc = ts.tz_localize('UTC')
ts_utc

2012-03-09 09:30:00+00:00   -1.125184
2012-03-10 09:30:00+00:00    0.334478
2012-03-11 09:30:00+00:00    0.361778
2012-03-12 09:30:00+00:00    1.285238
2012-03-13 09:30:00+00:00   -0.705187
2012-03-14 09:30:00+00:00   -0.982227
Freq: D, dtype: float64

In [83]:
ts_utc.tz_convert('US/Eastern')

2012-03-09 04:30:00-05:00   -1.125184
2012-03-10 04:30:00-05:00    0.334478
2012-03-11 05:30:00-04:00    0.361778
2012-03-12 05:30:00-04:00    1.285238
2012-03-13 05:30:00-04:00   -0.705187
2012-03-14 05:30:00-04:00   -0.982227
Freq: D, dtype: float64

## 4. Resampling and Frequency Conversion

Resampling refers to the process of converting a time series from one frequency to another. Aggregating higher frequency data to lower frequency is called downsampling, while converting lower frequency to higher frequency is called upsampling.

In [85]:
rng = pd.date_range('1/1/2000', periods=100, freq='D')
ts = Series(np.random.randn(len(rng)), index=rng)
ts.resample('M').mean()

2000-01-31    0.144338
2000-02-29   -0.266338
2000-03-31   -0.006243
2000-04-30    0.915889
Freq: M, dtype: float64

Using grouping operations

In [86]:
rng = pd.date_range('1/1/2000', periods=100, freq='D')
ts = Series(np.arange(100), index=rng)
ts.groupby(lambda x: x.month).mean()

1    15
2    45
3    75
4    95
dtype: int32

In [87]:
ts.groupby(lambda x: x.weekday).mean()

0    47.5
1    48.5
2    49.5
3    50.5
4    51.5
5    49.0
6    50.0
dtype: float64

### 4.1 Downsampling

In [88]:
rng = pd.date_range('1/1/2000', periods=12, freq='T')
ts = Series(np.arange(12), index=rng)
ts

2000-01-01 00:00:00     0
2000-01-01 00:01:00     1
2000-01-01 00:02:00     2
2000-01-01 00:03:00     3
2000-01-01 00:04:00     4
2000-01-01 00:05:00     5
2000-01-01 00:06:00     6
2000-01-01 00:07:00     7
2000-01-01 00:08:00     8
2000-01-01 00:09:00     9
2000-01-01 00:10:00    10
2000-01-01 00:11:00    11
Freq: T, dtype: int32

In [90]:
ts.resample('5min').sum()

2000-01-01 00:00:00    10
2000-01-01 00:05:00    35
2000-01-01 00:10:00    21
Freq: 5T, dtype: int32

In [91]:
ts.resample('5min', closed='right').sum() #by default closed = 'left'

1999-12-31 23:55:00     0
2000-01-01 00:00:00    15
2000-01-01 00:05:00    40
2000-01-01 00:10:00    11
Freq: 5T, dtype: int32

In [92]:
ts.resample('5min',  closed='left', label='right').sum()

2000-01-01 00:05:00    10
2000-01-01 00:10:00    35
2000-01-01 00:15:00    21
Freq: 5T, dtype: int32

### 4.2 Upsampling and Interpolation

In [93]:
frame = DataFrame(np.random.randn(2, 4),
                  index=pd.date_range('1/1/2000', periods=2, freq='W-WED'),
                  columns=['Colorado', 'Texas', 'New York', 'Ohio'])
frame[:5]

            Colorado     Texas  New York      Ohio
2000-01-05  0.394912  0.520074  0.695578 -1.529450
2000-01-12  0.999795 -0.914894 -0.912327 -0.768226

In [94]:
frame.resample('D').bfill()

            Colorado     Texas  New York      Ohio
2000-01-05  0.394912  0.520074  0.695578 -1.529450
2000-01-06  0.999795 -0.914894 -0.912327 -0.768226
2000-01-07  0.999795 -0.914894 -0.912327 -0.768226
2000-01-08  0.999795 -0.914894 -0.912327 -0.768226
2000-01-09  0.999795 -0.914894 -0.912327 -0.768226
2000-01-10  0.999795 -0.914894 -0.912327 -0.768226
2000-01-11  0.999795 -0.914894 -0.912327 -0.768226
2000-01-12  0.999795 -0.914894 -0.912327 -0.768226

In [95]:
frame.resample('D').ffill(limit=2)

            Colorado     Texas  New York      Ohio
2000-01-05  0.394912  0.520074  0.695578 -1.529450
2000-01-06  0.394912  0.520074  0.695578 -1.529450
2000-01-07  0.394912  0.520074  0.695578 -1.529450
2000-01-08       NaN       NaN       NaN       NaN
2000-01-09       NaN       NaN       NaN       NaN
2000-01-10       NaN       NaN       NaN       NaN
2000-01-11       NaN       NaN       NaN       NaN
2000-01-12  0.999795 -0.914894 -0.912327 -0.768226

## Question

Use ```pandas.read_csv``` to load the file ```raw_data.csv``` into a ```pandas.DataFrame``` called ```df_raw```:

In [84]:
df_raw.head(3)

     Volume       Price       times_of_trade
0  29184000  222.149994  16-10-2018 13:00:00
1  40925500  215.089996  24-10-2018 22:00:00
2  53124400  214.449997  11-10-2018 16:00:00

Note that the entries of the column ```times_of_trade``` are strings representing date-times in the form ```dd-mm-yyyy hh:mm:ss```. Here the timezone is ```UTC```.

Generate another ```pd.DataFrame``` called ```df``` from ```df_raw``` through the following operations:

 - Replace ```times_of_trade``` with ```Time```
 - Transform each entry in ```Time``` to the format ```mm-dd-yyyy hh:mm:ss```
 - Use ```pd.to_datetime``` to convert each string in ```Time``` to a date-time
 - Apply ```sort_values``` to sort by the entries in ```Time```
 - Specify that the timezone is ```UTC``` using ```tz_localize```. Change the timezone to ```US/Eastern``` using ```tz_convert```.
 - Invoke ```set_index``` to set the index to be ```Time```

In [177]:
df.head(3)

                             Volume       Price
Time
2018-10-02 06:00:00-04:00  24788200  229.279999
2018-10-03 15:00:00-04:00  28654800  232.070007
2018-10-04 17:00:00-04:00  32042000  227.990005