# <span style="color:blue">Programming for Data Science - DS-GA 1007</span>
## <span style="color:blue">Section 7: Python Tips and Tricks</span>
---

__Contents:__
- More about Reference 
- Operantions on Sequence Types
- Comprehensions
- Advanced functions

In [1]:
import numpy as np

## More on Lists

Recapping the different methods:
    
* `append` 
* `extend` (same as `+=`)
* `remove`
* `index`

Operations:
* `Indexing`
* `Concatenating`
* `Slicing`
* `Multiplying ???`

In [2]:
ls = [50, 60, 70, 80]

In [3]:
# add a single element to the list
ls.append(90)
ls

[50, 60, 70, 80, 90]

In [5]:
# adding mutliple elements, argument is a list of objects
ls.extend([1, 2, 80])
ls

# same thing:
ls +=[4,5,6]
ls

[50, 60, 70, 80, 90, 1, 2, 80, 1, 2, 80, 4, 5, 6]

In [6]:
# removes first occurrence
ls.remove(80)
ls

#if you try to remove something that doesn't exist in the list ==> error

[50, 60, 70, 90, 1, 2, 80, 1, 2, 80, 4, 5, 6]

In [7]:
# find index of an item, throws an error if not in leist

i = ls.index(70)
ls[i]

70

In [8]:
ls[0] # first item in the list

50

In [9]:
# copy of a list with additional elements
print(ls + [5, 6, 7])  # temporary
print(ls) # unmodified

[50, 60, 70, 90, 1, 2, 80, 1, 2, 80, 4, 5, 6, 5, 6, 7]
[50, 60, 70, 90, 1, 2, 80, 1, 2, 80, 4, 5, 6]

In [10]:
# slicing 1th to 2nd element
ls[1:3]

[60, 70]

In [11]:
# multiplication ==> adds three of the same, 
ls_2 = [0, 1]
ls_2 * 3 

# different than np.array([0,1])
# arr*3 ==> numpy assumes you want to mulitply each

[0, 1, 0, 1, 0, 1]

In [12]:
arr = np.array([100])
ls_3 = [arr] * 3 # make three copies, ls3=[arr, arr, arr]
ls_3 #

[array([100]), array([100]), array([100])]

In [13]:
arr[0] = 400
ls_3 # all three copies have been modified, shallow copies!

[array([400]), array([400]), array([400])]

In [20]:
list_of_lists = [[]]*10
list_of_lists

[[], [], [], [], [], [], [], [], [], []]

In [21]:
list_of_lists[0].append(1)
list_of_lists # all modified!

[[1], [1], [1], [1], [1], [1], [1], [1], [1], [1]]

## List Comprehension
Builds a new list by applying an expression to each item in a sequence
```python
ls = [expression for target in collection]
```
is equivalent to:
```python
ls = []
for target in collection:
    ls.append(expression)
```

In [26]:
cst = [i**2 for i in range(-10,10)] # squared numbers from -10,10
cst
# expression for some object in iterator

# easier to see
cst = [
    i**2
    for i in range(-10,10)
]

# with for loop
cst=[]
for i in range(-10,10):
    cst.append(i**2)
cst

[100, 81, 64, 49, 36, 25, 16, 9, 4, 1, 0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

Comprehension is more efficient than appending in a `for` loop

In [24]:
%%timeit
cst = [i**2 for i in range(-100,100)]

46.1 µs ± 45.4 ns per loop (mean ± std. dev. of 7 runs, 10000 loops each)

In [25]:
%%timeit
ls = []
for i in range(-100,100):
    ls.append(i**2)

53.8 µs ± 28.5 ns per loop (mean ± std. dev. of 7 runs, 10000 loops each)

### List Comprehension: Filtering:
```python
ls = [expression for target in collection if condition]
```
is equivalent to:
```python
ls = []
for target in collection:
    if condition:
        l.append(expression)
```

In [29]:
# list comprehension with condition at the end
ls = [x**2 for x in range(-10, 10) if x%2 != 0] # only includes odd numbers
#print(ls)

# easier to read
ls = [
    x**2 
    for x in range(-10, 10) 
    if x%2 != 0] 
print(ls)

[81, 49, 25, 9, 1, 1, 9, 25, 49, 81]

### __Nested Loops__:
```python
ls = [expression	for target1 in object1
				   for target2 in object2
					...]
```
is equivalent to:
```python
ls = []
for target1 in object1:
    for target2 in object2:
        ...
```

In [30]:
ls = [x*100+y for x in range(5) for y in range(10)]
#print(ls)

ls = [
    x*100+y 
    for x in range(5)  # order follows outer loop
    for y in range(10)] # inner loop
print(ls)

# 0:9: 100:109, 200:209 ... 5 times

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409]

In [33]:
ls = []
for x in range(5):
    for y in range(10):
        if y < x:
            ls.append(x*100+y)
            
print(ls)

[100, 200, 201, 300, 301, 302, 400, 401, 402, 403]

In [36]:
# ASIDE:

x = 2
#x = 1
if x==1:
    y = 'one'
else:
    y='not one'
    
print(y)

y = ('one' if x == 1 else 'not one')
print(y)

not one
not one

In [41]:
# COMBINED WITTH LIST COMPREHENSION: 
x=2
[
    x if x % 2 == 0 else 'odd'
    for x in range(10)
    if x%4==0
]

[0, 4, 8]

---
## Operations on Sequences

### <span style="color:blue">"in"</span>
- Check if a value is in a sequence
- For strings, test substrings

In [42]:
t = [1, 2, 3, 4, 5] # checking individual objects
print(3 in t) 
print(7 in t)
print(3 not in t)
print(7 not in t)

True
False
False
True

In [44]:
[2,3] in t

False

In [43]:
s = 'abcde'
print('cd' in s) # is substring in larger string
print('acd' in s)

True
False

__Beware__: the operator `in` is also employed in `for` loops (and list comprehension) with a different connotation.

## Dictionaries

Methods:

* `keys`
* `values`
* `items`
* `get`

Operations:

* indexing (getting/setting)
* `del`
* `in`

In [45]:
d = {
    1: "one",
    2: "two",
    3: "three",
}

In [46]:
for key in d:
    print(key)

1
2
3

In [47]:
for key in d.keys():
    print(key)

1
2
3

In [48]:
d.keys() 
# cannot index this, though
# can't gaurentee that dictionary is ordered in earlirer versions

list(d)
list(d.keys())

[1, 2, 3]

In [49]:
for v in d.values():
    print(v)

one
two
three

In [50]:
for obj in d.items(): # tuple of both key and value
    print(obj[0], obj[1]) # key and value
    
# Same as:
print("---")

for key, value in d.items(): 
    print(key, value)

1 one
2 two
3 three
---
1 one
2 two
3 three

In [52]:
d[1] = "ONE" # replacing
d[1234] = 'one thousand...' # new
d

# either existing or new

{1: 'ONE', 2: 'two', 3: 'three', 1234: 'one thousand...'}

In [53]:
1 in d
# check if a key is in a dictionary  
# KEYS ONLY, not values!

True

In [54]:
del d[1] # delete the key and values corresponding
d

{2: 'two', 3: 'three', 1234: 'one thousand...'}

In [55]:
print(d.get(2)) # get me the value of this key, default return is None
print(d.get(500, "DEFAULT VALUE")) # if it doesn't exist, get me the value specified default

two
DEFAULT VALUE

### Dictionary Comprehension
It is also possible to create a dictionary using comprehension

In [56]:
dt = {x:x**2 for x in range(10)}
dt

# x mapped to x^2
dt = {
    x:x**2 
    for x in range(10)}
dt

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [57]:
#dt = {
#    x:x**2, 

# COMMON ERROR #

#    for x in range(10)}
#dt

## Strings

Operations:

* `add`
* `in`

Methods:

* `upper`/`lower`/etc
* `split`
* `join`
* `format` (3.6: f-strings; older syntax: `%s`)

Note: Can't modify in place!*

In [58]:
string = "hello world"

In [59]:
string + "!!!" # add them together, original is not modified

'hello world!!!'

In [60]:
print("hello" in string)
print("howdy" in string)

True
False

In [61]:
print(string.upper())
print(string.capitalize())

HELLO WORLD
Hello world

In [64]:
string.split(' ')
#'hello'.split(' ')

['hello', 'world']

In [65]:
string.split("o")

['hell', ' w', 'rld']

In [66]:
string = '''this     is 

a

string    '''

print(string)

this     is

a

string

In [67]:
string.split()

['this', 'is', 'a', 'string']

In [68]:
str_list = ["a", "b", "c"]
"----".join(str_list)

'a----b----c'

In [69]:
'Word: %s' % 'hi!'

'Word: hi!'

In [70]:
my_name = "Bob"
"my name is {}".format(my_name)

'my name is Bob'

In [76]:
print("My name is {}. You can call me {}".format(my_name, my_name))
print("My name is {}. My favorit enumber is {}".format(my_name, 1))

My name is Bob. You can call me Bob
My name is Bob. My favorit enumber is 1

In [ ]:
print("My name is {name}. You can call me {name}.".format(name=my_name))

In [78]:
kwargs = {
    'name':my_name
}

str_template= "My name is {name}. You can call me {name}."
print(str_template.format(**kwargs))

My name is Bob. You can call me Bob.

In [80]:
age = 300
print("I am {} years old".format(age))
print("I am {age:02f} years old".format(age=age))
print("I am {:06d} years old".format(age))

I am 300 years old
I am 300.000000 years old
I am 000300 years old

In [81]:
# F-strings: Python 3.6+ only
# start an f ! can't put the template anymore.
print(f"My name is {my_name} and I am {age} years old ({age:.03f} to be exact).")

My name is Bob and I am 300 years old (300.000 to be exact).

## Tuples

Operations:

* `in`
* `+`
* Unpacking

In [82]:
tup = (1, 2, 3)
# immutable, cannot modify

In [83]:
2 in tup

True

In [84]:
tup + tup

(1, 2, 3, 1, 2, 3)

In [85]:
a, b, c = tup
a

1

In [86]:
tup=1,2

In [90]:
tup = (x for x in range(10))
print(tup)
# no such thing as a tuple comprehension
# do a list comprehension and call tuple
tup=tuple([x for x in range(10)])
tup

<generator object <genexpr> at 0x2b5b6fb7ab88>

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

## Sorting

* `.sort` (in-place)
* `sorted` (returns a copy)
* sorting by key-function

In [91]:
ls = [2, 3, 1, 4]

print(ls.sort()) # modified list to sorted, in-place
print(ls)

None
[1, 2, 3, 4]

In [92]:
ls = [2, 3, 1, 4]

print(sorted(ls)) # sorted copy
print(ls) # original, unsorted

[1, 2, 3, 4]
[2, 3, 1, 4]

In [93]:
def negative(x):
    return -x 

sorted(ls, key=negative) # sort score, sort elements in reverse order

[4, 3, 2, 1]

In [94]:
print(sorted(ls, reverse=True)) # same result
print(sorted(ls)[::-1]) # same result

[4, 3, 2, 1]
[4, 3, 2, 1]

---
## Lambda Functions
- _Lambda Functions_ are functions that can be called but do not have a name (a.k.a *anonymous* functions)
- A `lambda` is an expression, not a statement, so can be define inline, unlike `def`
- Because they're inline, they can only evaluate expressions, are limited in their complexity

```python
lambda arg1,arg2,...,argn: expression
```

In [95]:
# Lambda functions: Anonymous one line functions

In [96]:
my_square = lambda x: x**2 # take x, return x squared
print(my_square(2))

4

In [97]:
my_add = lambda x,y: x+y # take x, y, return product
print(my_add(2, 3))

5

In [98]:
f3_l = lambda x: 'even' if x%2==0 else 'odd'
eo = [i for i in range(10) if f3_l(i) == 'even' ]
print(eo)

# filtering

[0, 2, 4, 6, 8]

In [99]:
l = [i for i in range(-10,10)]
l.sort(key=lambda x: abs(x))
print(l)

# sorting based on absolute value

[0, -1, 1, -2, 2, -3, 3, -4, 4, -5, 5, -6, 6, -7, 7, -8, 8, -9, 9, -10]

In [102]:
# Anonymity can be bad:
# Function is unnamed - not really what you want

d = {
    "square": my_square,
    "add": my_add, # expected two arguments 
}
func = d["add"]
func(1)

# Run %debug, and type print(func): we don't know which function it is!

TypeError: <lambda>() missing 1 required positional argument: 'y'

In [103]:
%debug

> <ipython-input-102-07f8a7bd1ed4>(9)<module>()
      7 }
      8 func = d["add"]
----> 9 func(1)
     10
     11 # Run %debug, and type print(func): we don't know which function it is!

ipdb>  quit

In [104]:
def add(x, y):
    return x + y

print(add)

<function add at 0x2b5b705d1bf8>

---
## Functional Programming

### map
```python
map(func,iterable)
```
applies 'func' to each element of 'iterable'

In [105]:
def echo2(a):
    return(a+'_hi')
    
l = list(map(echo2,'abcd'))
print(l)

['a_hi', 'b_hi', 'c_hi', 'd_hi']

In [106]:
l = list(map(lambda x: x+'_oi','abcd'))
print(l)

['a_oi', 'b_oi', 'c_oi', 'd_oi']

### filter 
```python
filter(func,iterable)
```
returns all elements of 'iterable' for which 'func' returns <span style='color:blue'> True </span>

In [107]:
l = list(filter(lambda x: x%2==0,range(10)))
print(l)

[0, 2, 4, 6, 8]

In [ ]:
# sounds like list comprehensions